@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

section {
  width: 80%;
  margin: 5% auto 0 auto;
}

h2 {
  color: seagreen;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 3.8rem;
}

section > .title {
  padding: 0 2%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 5%;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
}
.header .logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.header .social-media {
  margin: 0 auto 0 50px;
}
.header .social-media a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.header .social-media a:hover {
  background-color: #fff;
}
.header .social-media a:hover i {
  color: #888;
}
.header .social-media a i {
  font-size: 20px;
  color: #fff;
}
.header .navbar a {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.banner .slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner .slider .slide .left-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.banner .slider .slide .left-info .penetrate-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.banner .slider .slide .left-info .penetrate-blur h1 {
  font-size: 250px;
  color: #fff;
}
.banner .slider .slide .left-info .content {
  position: absolute;
  bottom: 8%;
  left: 10%;
  color: #fff;
}
.banner .slider .slide .left-info .content h3 {
  font-size: 20px;
}
.banner .slider .slide .left-info .content p {
  font-size: 16px;
  margin: 10px 0 15px;
  text-align: justify;
  padding: 0 5% 0 0;
}
.banner .slider .slide .left-info .content .btn {
  display: inline-block;
  padding: 13px 28px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #888;
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s;
}
.banner .slider .slide .left-info .content .btn:hover {
  background: transparent;
  color: #fff;
}
.banner .slider .slide .right-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.banner .slider .slide .right-info h1 {
  font-size: 250px;
  color: #fff;
}
.banner .slider .slide .right-info h3 {
  font-size: 80px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(150%);
}
.banner .slider .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}
.banner .navigation {
  display: inline-block;
  position: absolute;
  bottom: 8%;
  right: 5%;
}

.hashtags {
  margin: 1% auto;
  display: flex;
  justify-content: space-between;
}
.hashtags a {
  text-decoration: none;
  color: seagreen;
  display: block;
  text-align: center;
  line-height: 2rem;
  padding: 0 2%;
  position: relative;
}
.hashtags a:hover {
  background-color: seagreen;
  color: #fff;
}

.booking-bar {
  border: 2px solid seagreen;
  border-radius: 25px;
  overflow: hidden;
  padding: 1% 0 2% 0;
}
.booking-bar .main {
  padding: 1%;
  background: #fff;
  border-radius: 12px;
}
.booking-bar .bookingBar {
  display: flex;
  justify-content: space-around;
}
.booking-bar .bookingBar > div {
  background: #fff;
  padding: 20px;
  margin: 0 0.5%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.booking-bar .bookingBar > div input {
  outline: none;
  border: 2px solid seagreen;
  border-radius: 8px;
  line-height: 2rem;
  padding: 0 3%;
  width: 100%;
}
.booking-bar .bookingBar > div input:focus {
  outline-color: 2px solid seagreen;
}
.booking-bar .bookingBar .date-range-picker {
  display: flex;
  justify-content: space-between;
}
.booking-bar .bookingBar .date-range-picker > div {
  width: 100%;
  padding: 0 1%;
  display: flex;
  flex-direction: column;
}
.booking-bar .bookingBar .date-range-picker input {
  margin-right: 20px;
}
.booking-bar .bookingBar .submit {
  width: 100px;
  padding: 0;
  overflow: hidden;
}
.booking-bar .bookingBar .submit button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: seagreen;
  border: none;
  color: white;
  font-size: 2.4rem;
  cursor: pointer;
}
.booking-bar .bookingBar .submit button i {
  transition: transform 0.2s;
}
.booking-bar .bookingBar .submit button:hover i {
  transform: scale(1.2);
}

.category .title {
  width: 100%;
  height: 3.8rem;
  display: inline-flex;
  justify-content: space-between;
}
.category .title .category-btn {
  width: 12%;
  display: flex;
  justify-content: space-between;
  padding: 0.5%;
}
.category .title .category-btn .btn {
  background-color: seagreen;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  width: 6vh;
  border-radius: 50px;
  color: #fff;
}
.category .title .category-btn .btn i {
  transition: transform 0.4s;
  font-size: 2rem;
}
.category .title .category-btn .btn:hover i {
  transform: scale(1.4);
}
.category .main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}
.category .main a .card {
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 230px;
  height: 280px;
  overflow: hidden;
  position: relative;
  transition: all 0.6s;
}
.category .main a .card .info {
  padding: 10px;
  position: absolute;
  color: #fff;
  bottom: 0;
  z-index: 1;
}
.category .main a .card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.6s;
}
.category .main a .card:hover img {
  transform: scale(1.2);
}

.popular {
  display: flex;
  flex-direction: column;
  border: 1px solid tomato;
}
.popular .row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular .row .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popular .row .carousel-control-prev {
  left: -16%;
  border-radius: 0 30px 30px 0;
  background-color: rgba(46, 139, 86, 0.666);
}
.popular .row .carousel-control-next {
  right: -16%;
  border-radius: 30px 0 0 30px;
  background-color: rgba(46, 139, 86, 0.666);
}
.popular .row .carousel-inner {
  height: 54vh;
  position: relative;
}
.popular .row .carousel-inner .carousel-item {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.popular .row .carousel-inner .carousel-item .card-test {
  border: 1px solid gray;
  border-radius: 16px;
  overflow: hidden;
  height: 380px;
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.popular .row .carousel-inner .carousel-item .card-test .img {
  width: 100%;
  height: 16rem;
  border-radius: 16px;
  overflow: hidden;
}
.popular .row .carousel-inner .carousel-item .card-test .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular .row .carousel-inner .carousel-item .card-test .card-info {
  padding: 0 5%;
}
.popular .row .carousel-inner .carousel-item .card-test .card-info h5 {
  line-height: 2rem;
  margin: 1% 0 0;
}
.popular .row .carousel-inner .carousel-item .card-test .card-info .location {
  color: #888;
}
.popular .row .carousel-inner .carousel-item .card-test .card-info .go {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color: seagreen;
  border-radius: 50px;
}
.popular .row .carousel-inner .carousel-item .card-test .card-info .go i {
  color: #fff;
  font-size: 2rem;
}
.popular .row .carousel-inner .carousel-item .card-test:hover {
  transform: translateY(-10px);
}
.popular .row .carousel-inner .carousel-item .card-test:hover .go > i {
  animation: moveLeftRight 0.4s ease-in-out infinite alternate;
}

.middle-banner .row {
  width: 100%;
  margin: 20px auto;
  border-radius: 40px;
  overflow: hidden;
}
.middle-banner .row > div {
  padding: 0;
}

.video-banner {
  width: 80%;
  border: 1px dotted darkviolet;
}
.video-banner .main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1%;
}
.video-banner .main .left {
  border: 1px solid turquoise;
  overflow: hidden;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: auto;
  position: relative;
}
.video-banner .main .left video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%);
}
.video-banner .main .right {
  border: 1px dotted tomato;
  width: 65%;
  padding: 0 1%;
}
.video-banner .main .right a {
  text-decoration: none;
  display: flex;
  border-bottom: 1px dashed gray;
  position: relative;
  line-height: 2rem;
  padding: 1%;
  flex-wrap: wrap;
}
.video-banner .main .right a:hover {
  animation: moveLeftRight 0.4s ease-in-out infinite alternate;
}
.video-banner .main .right a p {
  margin: 0;
  letter-spacing: 0.4px;
  flex: 1 1 100%;
}
.video-banner .main .right a .location-tag {
  background-color: seagreen;
  border-radius: 0.4rem;
  color: #fff;
  padding: 0 1%;
  margin-right: 2%;
}
.video-banner .main .right a .content {
  color: seagreen;
  flex: 1 1 100%;
  margin-bottom: 0.5rem;
}
.video-banner .main .right a .price {
  color: #333;
  position: absolute;
  right: 0;
  padding: 0 1.2% 0 0;
  width: auto;
  bottom: 1%;
}
.video-banner .main .right a .price span {
  color: seagreen;
  font-weight: 700;
  letter-spacing: 1px;
}

.last-banner {
  height: 40vh;
}
.last-banner .last-banner-content {
  border: 1px solid #eee;
  border-radius: 40px;
  position: relative;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.last-banner .last-banner-content .last-banner-info {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.last-banner .last-banner-content .last-banner-info h2 {
  line-height: 4rem;
  margin: 0 auto 50px;
  color: #fff;
}
.last-banner .last-banner-content .last-banner-info a {
  display: block;
  background-color: #fff;
  border-radius: 10px;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  color: seagreen;
  width: 250px;
  transition: transform 0.6s;
}
.last-banner .last-banner-content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 80%;
     object-position: 0 80%;
  filter: blur(2px);
}
.last-banner:hover .last-banner-info a {
  animation: moveTopBottom 0.6s ease-in-out infinite alternate;
}

.last-p {
  width: 80%;
  margin: 5% auto 0;
  text-align: center;
}

.contact-us {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 80vh;
  border: 1px solid green;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.contact-us .contact-us_left {
  width: 50%;
  position: relative;
  background-color: seagreen;
}
.contact-us .contact-us_left .bg-bobbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.contact-us .contact-us_left .bg-bobbles .bobble-1 {
  width: 400px;
  height: 200px;
  position: absolute;
  animation: moveBobble 10s infinite alternate ease-in-out;
  top: 5%;
  left: -5%;
}
.contact-us .contact-us_left .bg-bobbles .bobble-1 img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact-us .contact-us_left .bg-bobbles .bobble-2 {
  width: 400px;
  height: 200px;
  position: absolute;
  animation: moveBobble 8s infinite alternate ease-in-out;
  top: 30%;
  left: 35%;
}
.contact-us .contact-us_left .bg-bobbles .bobble-2 img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact-us .contact-us_left img {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 90%;
  z-index: 1;
}
.contact-us .contact-us_left .contact-us_info {
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
}
.contact-us .contact-us_left .contact-us_info a {
  display: block;
  text-decoration: none;
  color: seagreen;
  line-height: 2.8rem;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  transition: all 0.4s;
  background-color: rgba(255, 255, 255, 0.5411764706);
}
.contact-us .contact-us_left .contact-us_info a i {
  margin: 0 5px 0;
}
.contact-us .contact-us_left .contact-us_info a:hover {
  background-color: seagreen;
  color: #fff;
  transform: scale(1.06);
}
.contact-us .contact-us_left .contact-us_info .social-media {
  margin: 5px auto auto;
  width: 100%;
}
.contact-us .contact-us_left .contact-us_info .social-media a {
  display: inline-flex;
  width: 60px;
  height: 60px;
  background: transparent;
  border: 2px solid seagreen;
  border-radius: 14px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin: 1%;
  background-color: rgba(255, 255, 255, 0.5411764706);
}
.contact-us .contact-us_left .contact-us_info .social-media a:hover {
  background-color: seagreen;
  color: #fff;
}
.contact-us .contact-us_left .contact-us_info .social-media a:hover i {
  color: #fff;
}
.contact-us .contact-us_left .contact-us_info .social-media a i {
  font-size: 1.9rem;
  color: seagreen;
}
.contact-us .contact-us_right {
  width: 50%;
  padding: 0 3%;
}
.contact-us .contact-us_right h1 {
  margin: 5% auto auto;
  color: seagreen;
  text-align: center;
  font-size: 2.2rem;
  line-height: 5rem;
  font-weight: 700;
}
.contact-us .contact-us_right form {
  color: seagreen;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* For Chrome, Safari, Edge, Opera */
  /* For Firefox */
}
.contact-us .contact-us_right form label + input {
  margin: 0 0 0.8rem 0;
}
.contact-us .contact-us_right form input,
.contact-us .contact-us_right form textarea {
  outline: none;
  border: 1px solid seagreen;
  border-radius: 10px;
  line-height: 2rem;
  padding: 0 3%;
  margin: auto 0 5%;
}
.contact-us .contact-us_right form input[type=submit] {
  color: #fff;
  background-color: seagreen;
  padding: 1% 0;
  transition: all 0.4s;
  letter-spacing: 2px;
}
.contact-us .contact-us_right form input[type=submit]:hover {
  background-color: rgb(10, 94, 46);
  font-weight: 700;
}
.contact-us .contact-us_right form input[type=number]::-webkit-outer-spin-button,
.contact-us .contact-us_right form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.partnerships {
  width: 80%;
  margin: 5% auto 0 auto;
}
.partnerships .main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.partnerships .main .partner-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.2rem;
  flex-grow: 1;
  padding: 1% 2%;
  box-sizing: border-box;
  transition: transform 0.4s;
}
.partnerships .main .partner-item img {
  filter: saturate(0);
  max-height: 100%;
  width: auto;
  transition: filter 0.4s;
  -o-object-fit: contain;
     object-fit: contain;
}
.partnerships .main .partner-item:hover {
  transform: scale(1.05);
}
.partnerships .main .partner-item:hover img {
  filter: none;
}

.footer {
  height: 50vh;
  background-color: #eee;
  margin: 5% 0 0;
}

.introduce #video {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 120%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  filter: sepia(0.4);
}
.introduce .video-caption {
  margin: 30% auto auto;
}
.introduce .video-caption .animated h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 4rem;
}
.introduce .video-caption .animated .margintop-30 {
  margin: 1%;
}
.introduce .video-caption .animated .margintop-30 .btn {
  color: #fff;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(6px);
  }
}
@keyframes moveTopBottom {
  0% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(6px);
  }
}
@keyframes moveBobble {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -20px);
  }
  50% {
    transform: translate(-15px, 10px);
  }
  75% {
    transform: translate(20px, -15px);
  }
  100% {
    transform: translate(-10px, 5px);
  }
}/*# sourceMappingURL=tours.css.map */